<!doctype html>
<title>菜品列表</title>
<h2>菜品列表</h2>
<table border="1" cellpadding="4">
  <thead>
    <tr>
      <th>名称</th><th>评分</th><th>烹饪时间</th>
      <th>标签</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  {% for r in dishes %}
    <tr>
      <td>{{ r.name }}</td>
      <td>{{ r.rating or '-' }}</td>
      <td>{{ r.dish_cook_time }} 分钟</td>
      <td>{{ r.tags or '-' }}</td>
      <td><a href="{{ url_for('dish.dish_edit', dish_id=r.dish_id) }}">编辑</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>